p, h5 {
  color:white;
}

.card {
  background-color: black;
}

.card:hover {
}

button {
  background-color: #d30000;
  color: white;
  border: none;
  border-radius: 3px;
}
button:hover {
  transform: scale(1.1);
}
