<div class="d-flex justify-content-evenly">
  <img src="assets/noteflix-icon.webp" alt="icon_noteflix" class="col-4">
  <h2 class="d-flex justify-content-start my-auto col-8">NOTEFLIX</h2>

  <div class="position-absolute top-0 end-0 mt-2">
    <button
      *ngIf="isConnected && !isAddPage"
      class="btn btn-outline-danger me-2"
      routerLink="/series/new">
      AJOUTER
    </button>

    <button
      *ngIf="isConnected"
      class="btn btn-outline-dark p-2"
      (click)="onClickSignout()">
      ME DÉCONNECTER
    </button>
  g
  </div>
</div>
